<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="TODO">
    <link rel="stylesheet" type="text/css" href="TODO">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>    <title>TODO</title>
</head>
<body style="height:100%">
<div class='container-fluid bg-light text-center h-100'>
    <h1>Error 404</h1>
    <h2>Something went wrong</h2>

</div>
</body>
</html>