<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <title>Bookstore</title>
</head>
<body style="height:100%">
    <div class='bg-light container'>
        <div class='float-left'><a href="{{url_for('index')}}">Home</a></div>
        <div class='float-right'>{{username}}   <a href="{{url_for('logout')}}">   Log out</a></div>
    </div>
<header class='container bg-light h-25 text-center '>
    <h1 class="display-2 py-4">Bookstore</h1>
</header>
<nav class='navbar navbar-expand bg-dark navbar-dark justify-content-center'>
    <form class="form-inline " action="{{url_for('index')}}" method="POST">
        <input class="form-control mr-2" type="text" placeholder="Search" name="text">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
</nav>
<main>
    <div class='container  h-25'>
            {% block body%}{% endblock %}

    </div>
</main>
<script>
function passwordMatch() {                                                                      //match password input and repeat password input 
    var userPassword=$("#userPassword");                                                        //get both elements
    var userPasswordRepeat=$('#userPasswordRepeat');
    if (userPassword.val().length>7 && (userPassword.val()===userPasswordRepeat.val())) {       //if passwords match       
        userPassword.css("border","1px solid green");                                           //set border to green  and enable submit button
        userPasswordRepeat.css("border","1px solid green");
        $('#submitSignUpForm').prop('disabled',false);
    } else {                                                                                    //when doesn't match keep borders green and submit button disabled
        userPassword.css("border","1px solid red");
        userPasswordRepeat.css("border","1px solid red");
        $('#submitSignUpForm').prop('disabled',true);
    }
}
</script> 
</body>
</html>